*{font-family: Arial, Helvetica, sans-serif;}


body{display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
/* header */
header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* hamburger */
.hamburger{
    border:none;
    margin:0;
    padding:0;
    height:2rem;
}
.hamburger span{
    cursor: pointer;
    background-color:black;
    width:1.6rem;
    height:0.2rem;
    display:block;
    position:relative;
    margin-bottom: 0.1rem;
    transform: rotate(0);
    margin-top: 0.1rem;
    transition-duration: 0.1s;
    transform-origin: center;
}

.hamburger:not(.closed) span:nth-child(1){transform: rotate(45deg);
    top:0.6rem;
    
}
.hamburger:not(.closed) span:nth-child(3){opacity: 0;}

.hamburger:not(.closed) span:nth-child(2){
    transform: rotate(-45deg);
top:0.4rem}

.side-bar{
min-width:1rem;
display: flex;flex-direction: column;}

.side-bar:not(.active){ display:none;}


.logo{width:9rem;
    font-size: 1.4rem;
margin:0 auto;}

.login-section a{text-decoration: none;}
.login-section a:nth-child(1){
    background-color: black;
    
    color:white;
}
.main-nav{
    display:flex;
    justify-content: center;
    margin:0 auto;
}
.login-section a:nth-child(2){background-color: white;
    color:black;
}
.navigation{
    display:flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    border: 1px solid grey;

}
.navigation a{
    text-decoration: none;
    margin: auto;
    padding:0.4rem;
    color:black;
    font-size: 1rem;

}
/* main */
main{
    
height:100%;}
.main-article{height:100%;}
.main-img{
    width:50rem;}

/* aside */

.left-side{display: flex;
flex-direction: column;
width:33%;
margin-left: 7rem;}
.left-side article{max-width:1rem;
    min-height: 1rem ;

}

.side-img{width:10rem;}
.right-side{margin:auto;}